<nav class="navbar navbar-inverse navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <i class="fab fa-instagram"></i> Instagram</a>
    </div>
     <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 ml-5 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="profile">
            <div class="input-group-btn">
              <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
            </div>
          </div>

        </form>

      </div>
      <!-- search form end -->
       <div class="col-sm-6 col-md-6">
            {% if user.is_authenticated %}
            <ul>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle " id="navbarDropdownMenuLink-333" data-toggle="dropdown"  aria-expanded="false">
                          <span class="caret"></span>
                          <i class="fas fa-user"></i>Account
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{%url 'blog-home'%}">Home</a>
                  </li>
                   <li>
                    <a href="{% url 'upload_image' %}">Post Picture</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                   <li>
                    <a href="/accounts/profile">Profile</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </ul>
            {% else %}

            <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class='btn btn-default' href="/accounts/login">Login</a>
          <a class='btn btn-default' href="/accounts/register">Register</a>
          
        </div>
      </div>

            {% endif %}
          </div>
  </div>
</nav>